<section class="blogPost">
    <a href="link to the specific post e.g. /blogPosts/{{id}}">
        <header> {{title}} </header>

        <article class="post-body">
            {{!-- image if there is one --}}
            <img src="" alt="">
            <p> By: {{userName}} </p>
            <p> {{post}} </p>
        </article>
    </a>
</section>