<section class="blogPost">
    <a href="link to the specific post e.g. /blogPosts/{{id}}">
        <header> {{name}} </header>

        <article class="post-body">
            {{!-- image if there is one --}}
            {{!-- <img src="" alt=""> --}}
            <p> By: {{user_id}} </p>
            <p> {{description}} </p>
        </article>
    </a>
</section>