<section class="blogPost">
    <a href="/blogs/{{id}}">
        <header> {{name}} </header>
        <article class="post-body">
            {{!-- image if there is one --}}
            {{!-- <img src="" alt=""> --}}
            <p> Posted on: {{date_created}} </p>
            <p> {{description}} </p>
        </article>
    </a>
</section>