{{#if loggedIn}}
<section class = "blogPost">
    <img src="" alt="">
    <article class="postBody">
        <h3> {{name}} </h3>
        <p> Created by: {{user_id}} </p>
        <p> Posted on: {{date_created}} </p>
        <p> Post Text/Body Here </p>
    </article>
</section>
{{else}}
{{!-- redirect to login page --}}
<a href="/login">Please login to view this page. ♥</a>
{{/if}}