<section class="createPostForm">
    <h2>Create your post</h2>
    <form class="">
        <div>
            <label for="blog-title">Title:</label>
            <input class="form-input" type="text" id="post-title" />
        </div>
        <div>
            <label for="blog-description">Short description:</label>
            <input type="text" class="form-input" id="description" />
        </div>
        <div>
            <label for="blog-date-created">Today's Date:</label>
            <input type="text" class="form-input" id="date_created"/>
        </div>
    </form>
</section>