<section class="createPostForm">
    <h2>Create your post</h2>
    <form class="">
        <div>
            <label for="blog-title">Title:</label>
            <input class="form-input" type="text" id="post-title" />
        </div>
        <div>
            <label for="blog-description">Short description: </label>
            <input type="text" class="form-input" id="description" />
        </div>
        <div>
            <label for="blog-date-created">Today's Date (mm/dd/yyyy) : </label>
            <input type="text" class="form-input" id="date_created"/>
        </div>
        <div class = "textareaContainer">
            <label for="blog-post-body">Write your post here: </label>
            <textarea name="post-body" id="post-body" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">submit</button>
        </div>
    </form>
</section>

<script src="javascript/createPost.js"></script>